body {
    font-family: sans-serif;
    background-color:#67E667;
}
img{
    border: 10px solid navajowhite;
    opacity: 0.2;
}
h1{
    border: 5px dotted navy;
    text-align: center;
    background-color: azure;
    color: black;
}
h1:hover{
    background-color: gray;
    color: azure;
}
img:hover{
    opacity: 1;
}
